<extend name="Public/base" />
<block name="right">
    <!--tool start-->
    <!--tool end-->
    <!--content start -->
    <div class="content">
        <form class="autosubmit" action="{:U('')}" method="post">
        {:getForm($fieldarr,$data)}
            <div class="form-group center">
                <a href="javascript:;" id="submitbtn" class="btn btn-parmary btn-large ajax-post">
                    确定创建插件

                </a>
                <a href="javascript:;" class="btn btn-warning btn-large return">返回</a>
            </div>
        </form>
    </div>
</block>
