<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$meta_title}_{:C('ADMIN_TITLE')}{:C('DEFAULT_THEME')}</title>
<include file="Public:head" />
<ank:insert name="jquery-1.9.1.min,jquery.zclip,functions,ainiku,msg,ajax,init" type="js"/>
<ank:insert name="reset,layout" />
<link href="__CSS__/{:C('DEFAULT_COLOR')}color.css" type="text/css" rel="stylesheet" />
</head>

<body>
<!--header start-->
<include file="Public:header" />
<style>
body{ padding:0px;}
</style>
<!--header end-->
<div id="south" class="layout-south hide">{:C('ADMIN_TITLE')}</div>
<!--导航标题位置--->
<div class="index-center" id="index-center">

</div>
<script>
$(function(){
	ank.loadhtml("{:U('Ajax/admininfo')}",{},$('#index-center'));
	$(window).bind('resize load',function(){
		var hh=$(this).height()-60;
		$('#index-center').height(hh);
		});
});
</script>
<include file="Public:menu" />
</body>
</html>