<ul class="imglist cl">
<article:pagelist category_id="$category['category_id']" rows="6" id="page1" position="3" url='/'>
<li class="imgitem  shadow bd">
<a target="_blank" href="{:U('detail/'.$vo['article_id'])}"><img class="preload" src="{$vo.pic|getPicture='thumbpath'}" /></a>
<h1 class="stitle" ><a target="_blank" href="{:U('detail/'.$vo['article_id'])}">{$vo.title}</a></h1>
<div class="scon">{$vo.content|removeHTML=0,150}</div>
</li>
</article:pagelist>
</ul>
<article:pagenav id="page1" />