<extend name="Public/base" />
<block name="left">
<img src="{:UP('Erweima/create')}" />
<div class="left">
<include file="Module/huandeng" />
  <dl class="list w-list new-list bd">
	<dt class="l-title"><a href="javascript:;">最新说说</a></dt>
   <article:list rows="20">
    <dd class="l-item"><a target="_blank" href="{:U('detail/'.$vo['article_id'])}" title="{$vo.title}"><span class="xinico">♥</span>{$vo.title}</a> <span class="date">{$vo.create_time|date='Y/m/d',###}</span></dd>
  </article:list>
</dl>
{:W('Arclist/textlist',array(85,10))}
{:W('Arclist/textlist',array(86,10))}
{:W('Arclist/upimglist',array(84,12))}
{:W('Arclist/textlist',array(89,10))}
{:W('Arclist/textlist',array(90,10))}
{:W('Arclist/upimglist',array(84,12))}
{:W('Arclist/textlist',array(89,10))}
{:W('Arclist/textlist',array(90,10))}
</div>
</block>
<block name="right">
<div class="right">
{:W('Arclist/rtextlist',array(86,9))}

{:W('Arclist/rtextlist',array(84,10))}

 <ul class="rimglist cl">
  <article:list position="3" rows="20">
  <li class="rimglistitem bd"><a target="_blank" href="{:U('detail/'.$vo['article_id'])}"><img class="preload"  src="{$vo.pic|getPicture='thumbpath','90_80'}" alt="{$vo.title}"  title="{$vo.title}"  /></a><a href="{:U('detail/'.$vo['article_id'])}" target="_blank" title="{$vo.title}" class="imgtitle">{$vo.title}</a></li>
  </article:list>
 </ul>
 </div>
</block>