<extend name="Public:base" />
<block name="right">
    <!--tool start-->
    <div class="btn-tool">
        <a href="{:U('Hook/add')}" class="btn btn-parmary">添加钩子</a>
        <div class="searchform">
            <form class="form-h form-group-h form-tip-hidden" action="{:U('')}" method="post">
                <div class="form-group">
                    <input name="title" type="text" value="{:I('title')}" class="form-control input-middle" placeholder="请输入标题" />
                </div>
                <a class="sch-btn" href="javascript:;" id="search"><i class="btn-search"></i></a>
            </form>
        </div>
    </div>
    <div class="content">
        <table width="100%" class="leftalign">
            <tr class="th">
                <th>序号</th>
                <th>标识</th>
                <th>名称</th>
                <th>描述</th>
                <th>类型</th>
                <th style="text-align:center;">操作</th>
            </tr>
            <volist name="_list" id="vo">
                <tr>
                    <td>{$key+1}</td>
                    <td>{$vo.mark}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.descr}</td>
                    <td>
                        <if condition="$vo.type neq 'system'">
                            自定义
                            <else /> 系统钩子
                        </if>
                    </td>
                    <td>
                        <if condition="$vo.status eq '0'">
                            <a title="点击更改为启用" class="btn btn-warning ajax-href" href="{:U('Hook/qiyong?id='.$vo['id'])}">已禁用</a>
                            <else />
                            <a title="点击更改为禁用" class="btn ajax-href" href="{:U('Hook/jinyong?id='.$vo['id'])}">已启用</a>
                        </if>
                        <a class="btn" href="{:U('Hook/manage?id='.$vo['id'])}">设置</a>
                        <if condition="$vo.type neq 'system'">
                            <a class="btn btn-danger ajax-list-del" href="{:U('Hook/del?id='.$vo['id'])}">删除</a>
                        </if>
                    </td>
                </tr>
            </volist>
        </table>
        <div class="page">{$_page}</div>
    </div>
</block>
<block name="script">
    <script>
    $(function() {
        $('.row:odd').css('background', '#ededed');
    });
    </script>
</block>
