<extend name="Public/base" />
<block name="right">
    <!--tool start-->
    <div class="btn-tool">
        <a href="{:U('Node/add')}" class="btn btn-parmary">添加节点</a>
        <div class="searchform" style="display:none;">
            <form action="{:U('')}" method="post">
                <input name="title" type="tel" value="{:I('title')}" class="form-control input-middle" placeholder="请输入标题" />
                <a class="sch-btn" href="javascript:;" id="search"><i class="btn-search"></i></a>
            </form>
        </div>
    </div>
    <!--tool end-->
    <!--content start -->
    <div class="content">
        <div class="category cl">
            <dl class="cate-item th">
                <dt class="cl">
                    <div class="btn-toolbar opt-btn cl" style="width:112px; text-align:center;">操作</div>
                    <div class="fold">折叠</div>
                    <div class="order">ID</div>
                    <div class="order">是否完整匹配</div>
                    <div class="order">排序</div>
                    <div class="name"> 分类名称</div>
                </dt>
            </dl>
            {:R('Node/tree', array($_TREE_))}
        </div>
    </div>
    <script>
    $(function() {


        /* 分类展开收起 */
        $(".category dd").prev().find(".fold i").addClass("icon-unfold")
            .click(function() {
                var self = $(this);
                if (self.hasClass("icon-unfold")) {
                    self.closest("dt").next().slideUp("fast", function() {
                        self.removeClass("icon-unfold").addClass("icon-fold");
                    });
                } else {
                    self.closest("dt").next().slideDown("fast", function() {
                        self.removeClass("icon-fold").addClass("icon-unfold");
                    });
                }
            });
        /* 三级分类删除新增按钮 */
        $(".category dd dd .add-sub").remove();
        //实时更新分类信息
        $(".category")
            .on("submit", "form", function() {
                var self = $(this);
                $.post(
                    self.attr("action"),
                    self.serialize(),
                    function(data) {
                        // 提示信息
                        var name = data.status ? "success" : "error",
                            msg;
                        msg = self.find(".msg").addClass(name).text(data.info)
                            .css("display", "inline-block");
                        setTimeout(function() {
                            msg.fadeOut(function() {
                                msg.text("").removeClass(name);
                            });
                        }, 1000);
                    },
                    "json"
                );
                return false;
            })
            .on("focus", "input", function() {
                $(this).data('param', $(this).closest("form").serialize());
            })
            .on("blur", "input", function() {
                if ($(this).data('param') != $(this).closest("form").serialize()) {
                    $(this).closest("form").submit();
                }
            });

        $('.fold i').click();

    });
    </script>
    <!--content end-->
</block>
