<extend name="Public:base" />
<block name="right">
<!--tool start-->
<div class="btntool hide">
<div class="btnlist">

</div>

<div class="searchform">
<form class="form-h" action="{:U('')}" method="post">

<input name="title" type="text" value="{:I('title')}" class="form-control input-middle" placeholder="请输入链接标题" />

<a class="sch-btn" href="javascript:;" id="search" ><i class="btn-search"></i></a>
</form>
</div>


</div>

<!--tool end-->
<!--content start -->
<div class="content">
<table class="leftalign" width="100%" border="1" bordercolor="#ededed">
        <tr class="th">
		<th width="50" style="text-align:center;">序号</th>
		<th>标题</th>
        <th>大小</th>
        <th>上传时间</th>
		<th style="text-align:center;">操作</th>
		</tr>
<volist name="_list" id="vo">
  <tr>
    <td style="text-align:center;">{$key+1}</td>
    <td>{$vo.srcname}</td>
    <td>{$vo['size'] / 1000}KB</td>
    <td>
  	{$vo.create_time|time_format}
    </td>
    <td class="center">
      <a href="{:U('File/delattach?id='.$vo['id'])}" class="btn btn-danger ajax-list-del">删除</a>
    </td>
  </tr>
</volist>
</table>
<div id="page" class="page">{$_page}</div>
</div>
<script>
	//表格着色
	$('tr:even').css('background','#f7f7f7');
	//分类过滤
	$('select[name="cat_id"]').change(function(e) {
        $(this).parents('form').submit();
    });
	$('select[name="cat_id"]').val("{:I('cat_id',0)}");
</script>
<!--content end-->
</block>