<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<block name="css">
<ank:insert name="reset,common,index,font-awesome.min" />
</block>

<block name="headerscript">
<ank:insert name="jquery-1.9.1.min,ainiku,functions,ajax,jquery.SuperSlide.2.1.1,divselect" type="js"  />
</block>
<block name="meta">
<title><notempty name="single">{$single.title}_</notempty><notempty name="arcinfo">{$arcinfo.title}_</notempty><notempty name="category"><notempty name="category.meta_title">{$category.meta_title}_<else />{$category.title}_</notempty></notempty>{:C('WEB_SITE_TITLE')}</title>
<meta name="keywords" content="<notempty name="category.meta_keywords">{$category.meta_keywords},</notempty><notempty name="arcinfo.meta_keywords">{$arcinfo.meta_keywords},</notempty>{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="<notempty name="category.meta_descr">{$category.meta_descr},</notempty>
<notempty name="arcinfo"><notempty name="arcinfo.meta_descr">{$arcinfo.meta_descr},<else/>{$arcinfo.content|removeHTML=0,100}</notempty></notempty>
{:C('WEB_SITE_DESCRIPTION')}" />
</block>
</head>

<body>
<include file="Public/topnav" />
<block name="header">
	<include file="Public/header" />
</block>
<div class="container">
<notempty name="category">
{:W('Arclist/upimglist',array($category['category_id'],16))}
<else/>
{:W('Arclist/upimglist',array(84,16))}
</notempty>
<block name="body">

</block>



<block name="left">
<div class="left">
<include file="Public/left" />
</div>
</block>



<block name="right">
<div class="right">
<include file="Public/right" />
</div>
</block>


<include file="Module/footerimglist" />
</div>
<block name="footer">
	<include file="Public/footer" />
</block>

<block name="footerscript">
<ank:insert name="init,jquery.scrload" type="js"  />
</block>
</body>
</html>