<extend name="Public/base" />
<block name="body">
<div class="autobox center">
<style>
.form-label{ width:60px;}
</style>
<div class="loretitle">用户注册</div>
<form class="form-group-h" style="width:100%; margin:0px auto; text-align:left;"  action="__SELF__">
<div class="form-group">
<div class="form-label">地址</div>
            <style>select.selarea{ width:150px; overflow:hidden;}</style>
<input type="hidden" id="ssqdiqu"  name="diqu"  value="{$field['data']}" />
 <select id="Provincediqu" class="form-control selarea"><option value="0">请选择--</option></select>
<select id="citydiqu" class="form-control selarea"><option value="0">请选择--</option></select>
<select id="area1diqu" class="form-control selarea"><option value="0">请选择--</option></select>
</div>
<div class="form-group">
<div class="form-label">详细地址</div>
<input  name="address" class="form-control input-large" type="text" value=""  /><span style="color:red;"></span>
</div>

<div class="form-group">
<div class="form-label">联系人</div>
<input  name="lxr" class="form-control input-middle" type="text" value=""  /><span style="color:red;"></span>
</div>
<div class="form-group">
<div class="form-label">用户名</div>
<input  name="username" class="form-control input-middle" type="text" value=""  /><span style="color:red;">(不能少于5位)</span>
</div>

<div class="form-group">
<div class="form-label">密码</div>
<input name="password" class="form-control input-middle" type="password" value=""  />
<span style="color:red;">(不能少于5位)</span>
</div>

<div class="form-group">
<div class="form-label">重复密码</div>
<input name="repassword" class="form-control input-middle" type="password"value=""  />
</div>

<div class="form-group">
<div class="form-label">邮箱</div>
<input name="email" class="form-control input-middle" type="text" value=""  />
<span style="color:red;">(必填)</span>
</div>

<div class="form-group">
<div class="form-label">手机</div>
<input name="mobile"  class="form-control input-middle" type="text" value=""  />
<span style="color:red;">(必填)</span>
</div>

<div class="form-group">
	<a href="javascript:;" class="btn btn-large ajax-post">注册</a>
</div>
</form>
</div>

                <script>
                $(function(){
                   var arr=$('#ssqdiqu').val();
				   arr=arr.split(',');
                    $.ajax({
                    type:'post',
                    url:"{:U('Region/index')}",
                    data:{id:0,selid:arr[0]},
                    success: function(da){
                        $('#Provincediqu').html(da);
						if($('#Provincediqu').val()!=0){
                        $('#Provincediqu').change();
						}
						setssqdiqu();
                        }
                    });	
					$('#Provincediqu').change(function(e) {
							var idd=$(this).val();
							if(idd!=0){
								$.ajax({
									type:'post',
									url:"{:U('Region/index')}",
									data:{id:idd,selid:arr[1]},
									success: function(da){	
										$('#citydiqu').html(da);
										$('#citydiqu').change();
										setssqdiqu();
										}
								});
							}else{	
										$('#citydiqu').html('<option value="0">请选择--</option></select>');
										$('#citydiqu').change();
										setssqdiqu();
										}	
                    });
                    
                    $('#citydiqu').change(function(e) {
                        var idd=$(this).val();
							if(idd!=0){
                            $.ajax({
                                type:'post',
                                url:"{:U('Region/index')}",
                                data:{id:idd,selid:arr[2]},
                                success: function(da){
                                    $('#area1diqu').html(da);
									$('#area1diqu').change();
									setssqdiqu();
                                    }
                            });
							}else{
								$('#area1diqu').html('<option value="0">请选择--</option></select>');
										$('#area1diqu').change();
									setssqdiqu();
							}
                    });
                    $('#area1diqu').change(function(e) {
                        var idd=$(this).val();
						if(idd!=0){
                            $.ajax({
                                type:'post',
                                url:"{:U('Region/index')}",
                                data:{id:idd,selid:arr[3]},
                                success: function(da){
                                    $('#area11diqu').html(da);
									$('#area11diqu').change();
									setssqdiqu();
                                    }
                            });
						}else{
$('#area11diqu').html('<option value="0">请选择--</option></select>');
								$('#area11diqu').change();
									setssqdiqu();							
							}
                    });
                    $('#area11diqu').change(function(e) {
									setssqdiqu();
                    });

                   window.setssqdiqu=function(){
					    var idd='diqu';
					   var str1=$('#Province'+idd).val();
					   var str2=$('#city'+idd).val();
					   var str3=$('#area1'+idd).val();
					   var str4=$('#area11'+idd).val();
					   	$('#ssq'+idd).val(str1+','+str2+','+str3+','+str4);
					   } 
                });
                </script>         


</block>