body{background:#fff;}
/***顶部样式***/
.logo{ color:#666;}
.header{border-top:4px solid #27282d;border-left:4px solid #27282d;}
.mainnav li a:hover,.tool li a:hover{border-bottom:solid 4px #27282d;color:#000;}
.mainnav li a.hover{border-bottom:solid 4px #27282d;color:#27282d;}
.tab .tabnav.hover  a{
border-color: #27282d #e0e0e0 #f6f6f6;
}
/******左边样式*****/
.left{border-left: 4px solid #27282d;}
.menu .mt a:hover,.menu .mitem a:hover{background:#ededed;}
.menu .mt a.hover,.menu .mitem a.hover{background:#27282d;color:#fff;}
/******右边样式******/
.right .title a.hover{color:#27282d;}
.right .title{ color:#27282d;}
/****右边表格列表样式*****/
.content table .th{background:#f6f6f6; color:#27282d;}
.right .th,.right .th th{ background:#f6f6f6; color:#27282d;}
tr:hover{ color:#000;}
/*****分页样式****/
.page a:hover{background-color:#27282d;}
.page .current{background-color:#27282d;}
/****按钮颜色*****/
.btn{background:#808080;color:#fff;}
.btn:hover{background-color:#cdcdcd;}
.btn-warning{background:#ed9c28;}
.btn-warning:hover{background:#F7AE45;}
.btn-success{background:#4bbd00;}
.btn-success:hover{background:#83EF3B;}
.btn-danger{background:#d2322d;}
.btn-danger:hover{background:#D85A56;}
/* uploadify插件上传按钮 */
.uploadify-button{color:#fff;background-color:#808080!important;}
/**表单颜色***/
.form-control{transition:all .3s;background-color:#ffffff;border:1px solid #e6e6e6;color:#555555;}
.form-control:hover{border-color:#dfdfdf;}
.form-control:focus{border-color:#27282d;}
/****图片样式*****/
.menucloseico{background:url('../images/black/ico.png') -170px -118px no-repeat;}
.menuopenico{background:url('../images/black/ico.png')  -7px 3px no-repeat;}
.title-tool .tico{background:url('../images/black/ico.png') -140px -31px no-repeat;}
.closewest{background:url('../images/black/ico.png') -40px -216px no-repeat;}
.prinfo{background:url('../images/black/ico.png') -205px -210px no-repeat;}
.exitico{background:url('../images/black/ico.png') -205px -60px no-repeat;}
.icon-add{background:url('../images/black/bg_icon.png') no-repeat 0 0;}
.kl-tab-nav:hover, .kl-tab-nav.hover{background:#27282d;}
.y {background: url('../images/black/yn.png') 0px 0px no-repeat;}
.icon-add {background: url('../images/black/bg_icon.png') no-repeat 0 0;}
.btn-search {background: url('../images/black/bg_icon.png') no-repeat -50px 0;}
.filePicker,.upload_btn,.upload_btn:hover {background:#808080!important;}
#topmsg{background:#ffffff!important; color:#000;}
::-webkit-scrollbar-thumb{background:rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,.8);}