/**
 * 图标覆盖
 */
.title-tool .tico,.prinfo,.menuopenico,.menucloseico,.y,.n,.icon-fold,.icon-unfold,.icon-add,.btn-search,.kl-radio,.kl-checkbox{font:normal normal normal 18px/1 FontAwesome;background:none!important;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.kl-checkbox:before{content:"\f096"!important;}
.kl-checkbox.kl-selected:before{content:"\f14a"!important;}
.kl-radio:before{content:"\f10c"!important;}
.kl-radio.kl-selected:before{content:"\f111"!important;}
.btn-search:before{content:"\f002"!important;}
.icon-add:before{content:"\f055"!important;}
.icon-unfold:before{content:"\f147"!important;}
.icon-fold:before{content:"\f196"!important;}
.y,.n{font-size:28px;}
.y:before{content:"\f205"!important;}
.n:before{content:"\f204"!important;}
.menuopenico,.menucloseico{padding-top:5px;}
.menuopenico:before{content:"\f115"!important;}
.menucloseico:before{content:"\f114"!important;}
.prinfo{line-height:23px;}
.prinfo:before{content:"\f007"!important;}
.title-tool .tico{font-size:20px;padding-top:5px;}
.title-tool .tico:before{content:"\f00b"!important;}