<div class="mall_sider fl">
  <div class="commodity">
    <div class="commodity_top">所有商品</div>
    <div class="commodity_center">
      <dl>
        <dt class="active"> <a href="javascript:;">智能手机</a> </dt>
        <dd> <a class="charger" href="javascript:;"> Xplay系列 </a> </dd>
        <dd> <a class="charger" href="javascript:;"> Xshot系列 </a> </dd>
        <dd> <a class="charger" href="javascript:;"> X系列 </a> </dd>
        <dt> <a href="javascript:;">手机配件</a> </dt>
        <dd> <a class="charger" href="javascript:;"> 移动电源 </a> </dd>
        <dd> <a class="charger" href="javascript:;"> 耳机 </a> </dd>
        <dd> <a class="charger" href="javascript:;"> 充电器 </a> </dd>
        <dd> <a class="charger" href="javascript:;"> USB线 </a> </dd>
        <dd> <a class="charger" href="javascript:;"> 其它配件 </a> </dd>
        <dt> <a href="javascript:;">V币兑换</a> </dt>
        <dd class="active"> <a class="charger" href="javascript:;" background-repeat:no-repeat;"=""> V币兑换 </a> </dd>
      </dl>
    </div>
  </div>
</div>
