<form method="post" action="{:U('Comments/add')}">
  <div class="form-group">
    <label for="exampleInputEmail1">昵称</label>
    <input type="text" name="nickname" class="form-control input-mid"  placeholder="输入您的昵称">
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">邮箱</label>
    <input type="text" name="email" class="form-control input-mid"  placeholder="输入你的邮箱">
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">地址</label>
    <input type="text" name="url" class="form-control input-mid"  placeholder="输入您的主页地址">
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">内容</label>
    <textarea name="content" class="form-control input-large" placeholder="输入内容"></textarea>
  </div>
      <div class="form-group">
    <label for="exampleInputEmail1">验证码</label>
    <input type="text" name="verify" class="form-control input-mid" placeholder="输入验证码"><br />

    <img style="cursor:pointer;" class="verifyimg reloadverify" alt="点击切换" onclick="this.src='{:U('public/verify')}?random='+Math.random();" src="{:U('public/verify')}">
    
  </div>
    <div class="form-group">
    <input name="article_id" type="hidden" value="{$article_id}" />
	<input name="pid" type="hidden" value="0" />
    <button type="submit" class="btn btn-default">提交评论</button>
  </div>
</form>