<div id="north" class="layout-north header">
    <div class="logo fl">管理平台</div>
    <ul class="tool">
        <li><a href="javascript:;" title="({$uinfo.member_group_id|get_membergroup=###,'title'}),登陆地址:({$uinfo['last_login_ip']}){$uinfo['last_login_adr']}" style="color:green;">您好::<notempty name="uinfo.nickname">{$uinfo['nickname']}<else />{$uinfo['username']}</notempty></a></li>
        <li style="position:relative;" class="downmenu"><a href="javascript:;"><i class="prinfo"></i>个人信息</a>
            <ul class="pwdinfo">
                <li><a class="" onclick="am.updatePwd('{:U('Member/updatepwd')}');" href="javascript:;">修改密码</a></li>
                <li><a href="{:U('Public/logout')}" class="ajax-href">退出系统</a></li>
            </ul>
        </li>
    </ul>
</div>
<script>
////修改密码
//$(function(){
//  $('.updatepwd').click(function(e) {
//        var url=$(this).attr('href');
//          $.myMsg.msg({
//          title:'修改密码',
//          iframe:url,
//          width:500,
//          height:400,
//          button:false,
//          success:function(da){
//              alert(da);
//              }
//          });
//      return false;
//    });
//
//  });
</script>
