<ul id="youmenu" class="youmenu">
<li class="menuitem"><a href="javascript:;" onClick="window.history.go(-1);$('#youmenu').hide();">返回上一页</a></li>
<li class="menuitem"><a href="javascript:;" onClick="window.history.go(1);$('#youmenu').hide();">转到下一页</a></li>
<li class="menuitem"><a href="javascript:;" onClick="javascript:window.location.reload();$('#youmenu').hide();">刷新页面</a></li>
<li class="menuitem"><a id="copybtn" href="javascript:;">复制</a></li>
</ul>
<script>

$(function(){
FlashCopy.setSwfPath('__STATIC__/js/flashcopy.swf');
FlashCopy.init('copybtn').onCopy({
	alias:'FlashCopy',
	setText:function(obj){
		var tex=getSelect().toString();
		(typeof tex === 'string')||(tex='');
		return tex;
		},
	success:function(obj,args){
			ank.msg('复制成功');
			$('#youmenu').hide();
		}
	});
	
$('#youmenu').hover(function(){
$('#youmenu').show();
},function(){
$('#youmenu').hide();	
}); 
//右键菜单
document.oncontextmenu=function(e){ 
try{
 if(window.event) e = window.event;
$('#youmenu').css({left:e.clientX-5,top:e.clientY-5});
$('#youmenu').show();
}catch(e){
	}
return false; 
};
});
</script>