<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>订单支付结果</title>
<ank:insert name="reset,common,index,buy" />
<ank:insert name="jquery-1.9.1.min,ainiku,functions,ajax,jquery.SuperSlide.2.1.1" type="js"  />
</head>

<body>
<div class="member-block">
	<include file="Member/member_left" />
	<div class="member-right cl">
	<div class="mem-hd-title cl">{$member_title}--订单号({$info.order_sn})</div>
	<div class="divline"></div>
		<ul class="order-goods-list cl">
		<volist name="_list" id="vo">
			<li class="cl">
			<img src="{$vo.pic|getPicture='thumbpath','80_80'}" />
			<span><a target="_blank" href="{:U('Goods/'.$vo['goods_id'])}">{$vo.title}</a><br>
			{$vo.price} 元 X {$vo.num}
			</span></li>
		</volist>
		</ul>
		<dl class="order-detail">
			<dt>收货信息</dt>
			<dd><span class="label">姓名：</span><span class="label-con">{$info.consignee_name}</span></dd>
			<dd><span class="label">联系电话：</span><span class="label-con">{$info.consignee_mobile}</span></dd>
			<dd><span class="label">收货地址：</span><span class="label-con">
{$info.consignee_diqu}
				&nbsp;&nbsp;&nbsp;
				{$info.consignee_detail} 
			</span></dd>
		</dl>
		<div class="divline"></div>
		<dl class="order-detail">
			<dt>消费信息</dt>
			<dd><span class="label">商品总价：</span><span class="label-con">{$info.order_total} 元</span></dd>
			<dd><span class="label">运费：</span><span class="label-con">0 元</span></dd>
			<dd><span class="label">实付金额：</span><span class="label-con">
<em class="pricecolor">{$info.order_total}</em>元
			</span></dd>
		</dl>
	</div>
</div>
</body>
</html>
