<extend name="Public/base" />
<block name="right">
    <!--tool start-->
    <div class="btn-tool">
        <a href="{:U('Menu/add')}" class="btn btn-parmary">添加菜单</a>
        <a href="{:U('Menu/sorts')}" class="btn btn-parmary">整理菜单</a>
        <div class="searchform" style="display:none;">
            <form action="{:U('')}" method="post">
                <input name="title" type="tel" value="{:I('title')}" class="form-control input-middle" placeholder="请输入标题" />
                <a class="sch-btn" href="javascript:;" id="search"><i class="btn-search"></i></a>
            </form>
        </div>
    </div>
    <!--tool end-->
    <!--content start -->
    <div class="content">
        <div class="category cl">
            <dl class="cate-item th">
                <dt class="cl">
                    <div class="btn-toolbar opt-btn cl" style="width:112px; text-align:center;">操作</div>
                    <div class="fold">折叠</div>
                    <div class="order">ID</div>
                    <div class="order">排序</div>
                    <eq name="Think.const.APP_DEBUG" value="true">
                        <div class="order">隐藏</div>
                        <div class="order" style=" text-align:left;" title="只在开发模式下此菜单才显示">开发时显示</div>
                    </eq>
                    <div class="name"> 分类名称</div>
                </dt>
            </dl>
            {:R('Menu/tree', array($_TREE_))}
        </div>
        <div class="page">{$_page}</div>
    </div>
    <script>
     $(function() {
        $('.category .cate-item .fold i').click(function(event) {
            var _t = $(this);
            if (_t.hasClass('icon-fold')) {
                _t.removeClass('icon-fold');
                _t.addClass('icon-unfold');
                _t.parents('dl').find('dd').show();

            } else {
                _t.removeClass('icon-unfold');
                _t.addClass('icon-fold');
                _t.parents('dl').find('dd').hide();
            }

        });
        $(".category .cate-item dd").each(function(index, el) {
            var _t = $(this);
            if (_t.find('dl').length > 0) {
                _t.prev().find(".fold i").addClass("icon-fold")
            } else {
                _t.prev().find(".fold i").removeClass("icon-fold")
            }
        });

    });
    </script>
    <!--content end-->
</block>
