<i class="closewest" title="点击打开/关闭侧栏" id="closewest"></i>
<!--header start-->
<include file="Public:header" />
<!--header end-->
<!--left start-->
<div id="west" class="layout-west left">
<block name="left">
<volist name="_GROUPLIST_" id="vo">
<dl class="menu">
        	<dt class="mt"><a href="javascript:;"><i class="menuopenico"></i>{$vo.group|default='默认'}</a></dt>
            <volist name="_CHILDNNAV_" id="v">
                <if condition="$v['group'] eq $vo['group']">
          	  <dd class="mitem"><a class=""  href="{:U($v['url'])}">{$v.title}</a></dd>
              </if>
            </volist>
</dl>
</volist>
</block>
</div>
<!--left end-->

<!--south start-->
<div id="south" class="layout-south hide">{:C('ADMIN_TITLE')}</div>
<!--left end-->

<!--center start-->
<div id="center" style="padding-bottom:40px; overflow:hidden; overflow-y:scroll;" class="layout-center right">
<!--导航标题位置--->
<div class="title-tool cl"><div class="tico"></div><div class="title">
<block name="maintitle">
{$meta_title}
</block>
</div>
<span style="float:left; font-size:17px; font-weight:bolder;">></span><a href="javascript:window.history.go(-1);" class="title fl" style="float:left;">返回</a>
</div>
<block name="right">
	<include file="Public:right" />
</block>
</div>
<!--center end-->
