<!DOCTYPE html> 
<html>
<head>
<meta charset="utf-8">
<title>{$meta_title}_{:C('ADMIN_TITLE')}{:C('DEFAULT_THEME')}</title>
<include file="Public:head" />
<ank:insert name="jquery-1.9.1.min,msg,ajax,jquery.resizableColumns,init,autoyz" type="js"/>
<ank:insert name="reset,common,layout" />
<link href="__CSS__/{:C('DEFAULT_COLOR')}color.css" type="text/css" rel="stylesheet" />
</head>

<body>
<i class="closewest" title="点击打开/关闭侧栏" id="closewest"></i>
<!--header start-->
<include file="Public:header" />
<!--header end-->
<!--left start-->
<div id="west" class="layout-west left">
<block name="left">
<volist name="_GROUPLIST_" id="vo">
<dl class="menu">
        	<dt class="mt"><a href="javascript:;"><i class="menuopenico"></i>{$vo.group|default='默认'}</a></dt>
            <volist name="_CHILDNNAV_" id="v">
                <if condition="$v['group'] eq $vo['group']">
          	  <dd class="mitem"><a class=""  href="{:U($v['url'])}">{$v.title}</a></dd>
              </if>
            </volist>
</dl>
</volist>
</block>
</div>
<!--left end-->

<!--south start-->
<div id="south" class="layout-south">{:C('ADMIN_TITLE')}</div>
<!--left end-->

<!--center start-->
<div id="center" style="padding-bottom:40px;" class="layout-center right">
<!--导航标题位置--->
<div class="title-tool cl"><div class="tico"></div><div class="title">
<block name="maintitle">
{$meta_title}
</block>
</div>
<span style="float:left; font-size:17px; font-weight:bolder;">></span><a href="javascript:window.history.go(-1);" class="title fl" style="float:left;">返回</a>
</div>
<block name="right">
	<include file="Public:right" />
</block>
</div>
<!--center end-->
<!--script start-->
<block name="script">
</block>
<script>
$(function(){
	$("table").resizableColumns({});
	$('.return').click(function(e) {
        window.history.go(-1);
    });
});
</script>
<!--script end-->
</body>
</html>
