<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{$meta_title}_{:C('ADMIN_TITLE')}{:C('DEFAULT_THEME')}</title>
<include file="Public:head" />
<ank:insert name="jquery-1.9.1.min,divselect,flashcopy-min,ainiku,msg,mytab,am,file" type="js"/>
<ank:insert name="reset,common,animation,layout,icon,font-awesome.min" />
<link href="__CSS__/{:C('DEFAULT_COLOR')}color.css" type="text/css" rel="stylesheet" />
<!--[if IE]><ank:insert name="iefix" /> <![endif]-->
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
	$(function(){
		layer.config({
		  shade:0.3
	});
	// hideSelect.hide($('select'));
	//hideCheckbox.hide($('input[type="checkbox"]'));
	//hideRadio.hide($('input[type="radio"]'));
	});
</script>
</head>

<body>
<!--主布局 开始-->
<include file="Public:base_tab" />
<!--主布局 结束-->

<!--script start-->
<block name="script">
</block>
<script>
$(function() {
	$("table").resizableColumns({});
	$('.kl-tab').mytab();
});
</script>
<!--script end-->
<include file="Public:menu" />
<img id="loadingimg" class="rotate topcenter" src="__STATIC__/images/loading.png">
<ank:insert type="js" name="jquery.resizableColumns,autoyz" />
</body>
</html>

