	<div id="north" class="layout-north header">
    <div class="logo fl">管理平台</div>
    <ul class="mainnav">
    	<volist name="_MAINNAV_" id="vo">
    	<li><a href="{:U($vo['url'],array('mainmenu'=>'true'))}">{$vo.title}</a></li>
        </volist>
    </ul>
    
    <ul class="tool">
    	<li><a href="javascript:;" title="({$uinfo.member_group_id|getMemberGroup=###,'title'}),登陆地址:({$uinfo['last_login_ip']}){$uinfo['last_login_adr']}" style="color:green;">您好:{$uinfo['username']}</a></li>
    	<li><a href="{:C('WEBDOMIN')}" target="_blank"></i>查看网站</a></li>
    	<li style="position:relative;" class="downmenu"><a href="javascript:;">清理系统缓存</a>
        	<ul class="pwdinfo">
                <li><a title="清空系统运行时缓存" href="{:U('Other/clearcache',array('type'=>'run'))}" class="ajax-href">清空运行缓存</a></li>
                <li><a title="清空图片缩略图目录" href="{:U('Other/clearcache',array('type'=>'img'))}" class="ajax-href">清空图片缓存</a></li>
                <li><a title="清空CSS,图片,JS缓存目录" href="{:U('Other/clearcache',array('type'=>'data'))}" class="ajax-href">清空数据缓存</a></li>
                <li><a title="清空系统所有缓存" href="{:U('Other/clearcache',array('type'=>'all'))}" class="ajax-href">清空全部缓存</a></li>
            </ul>
        </li>
    	<li style="position:relative;" class="downmenu"><a href="javascript:;"><i class="prinfo"></i>个人信息</a>
        	<ul class="pwdinfo">
            	<li><a class="" href="javascript:dialogAjax('{:U('Member/updatepwd')}','修改密码');">修改密码</a></li>
                <li><a href="{:U('Other/logout')}" class="ajax-href">退出系统</a></li>
            </ul>
        </li>
        
    </ul>
    </div>
<script>
////修改密码
//$(function(){
//	$('.updatepwd').click(function(e) {
//        var url=$(this).attr('href');
//	        $.myMsg.msg({
//			title:'修改密码',
//			iframe:url,
//			width:500,
//			height:400,
//			button:false,
//			success:function(da){
//				alert(da);
//				}
//			});	
//		return false;	
//    });
//
//	});

</script>