<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{:C('ADMIN_TITLE')}</title>
<ank:insert name="reset,login" />
<ank:insert type="js" name="jquery-1.9.1.min,ajax,bgline" />
</head>

    <body id="login-page">
      <div id="particles-js" style="position:relative;">
                  <!-- 主体 -->
            <div class="login-body">
                <div class="login-main pr">
                    <form action="{:U('')}" method="post" class="login-form">
                        <h3 class="welcome"><i class="login-logo"></i>{:C('ADMIN_TITLE')}</h3>
                        <div id="itemBox" class="item-box">
                            <div class="item">
                                <i class="icon-login-user"></i>
                                <input type="text" name="username" placeholder="请填写用户名" autocomplete="off" />
                            </div>
                            <span class="placeholder_copy placeholder_un">请填写用户名</span>
                            <div class="item b0">
                                <i class="icon-login-pwd"></i>
                                <input type="password" name="password" placeholder="请填写密码" autocomplete="off" />
                            </div>
                            <span class="placeholder_copy placeholder_pwd">请填写密码</span>
                            <div class="item verifycode">
                                <i class="icon-login-verifycode"></i>
                                <input type="text" name="verify" placeholder="请填写验证码" autocomplete="off">
                                <a class="verifyimg" title="换一张" href="javascript:;">换一张？</a>
                            </div>
                            <span class="placeholder_copy placeholder_check">请填写验证码</span>

                            <div>
                                <img id="verifyimg" class="verifyimg reloadverify" alt="点击切换" src="{:U('Public/verify')}" />
                            </div>

                            <div class="center" style="border:none;">
                            <label style=" font-size:16px; color:#fff;line-height:34px;display:inline-block; ;">登陆状态：</label>
									<select name="remember" class="form-control">
                                    <option value="0">不记录</option>
                                    <option value="1">记录一天</option>
                                    <option value="2">记录一周</option>
                                    <option value="3">记录一月</option>
                                    </select>
                           
                            </div>
                        </div>
                        <div class="login_btn_panel">
                            <button  id="loginbtn" class="login-btn ajax-post" type="submit">
                                <span class="in"><i class="icon-loading"></i>登 录 中 ...</span>
                                <span class="on">登 录</span>
                            </button>
                            <div class="check-tips"></div>
                        </div>
                    </form>
                </div>
            </div>
      </div>
            <script>
	$(function(){
		$('.verifyimg').bind('click',function(){
			var verurl="{:U('Public/verify',array('random'=>'suiji'))}";
			verurl=verurl.replace('suiji',Math.random);
			$('#verifyimg').attr('src',verurl);
			});
	$('#youmenu').hover(function(){
			$('#youmenu').show();
			},function(){
			$('#youmenu').hide();	
		}); 

		});
		function _before_func(){
			$('#loginbtn .on').hide();
			$('#loginbtn .in').show();
			}
		function _after_func(){
			$('#loginbtn .on').show();
			$('#loginbtn .in').hide();
			$('#verifyimg').click();
			}

document.oncontextmenu=function(e){ 
try{
 if(window.event) e = window.event;
$('#youmenu').css({left:e.clientX-5,top:e.clientY-5});
$('#youmenu').show();
}catch(e){
	}
return false; 
};
		</script>
<ul id="youmenu" class="youmenu">
<li class="menuitem"><a href="javascript:;" onClick="javascript:window.location.reload();">刷新页面</a></li>
<li class="menuitem"><a href="javascript:;" onClick="$('.verifyimg').click();">刷新验证码</a></li>
</ul>
<style>
.youmenu{ z-index:999; top:0px; left:0px; display:none;position:fixed;background:#fefefe;border:solid 1px #d2d2d2; border-bottom:none;}
.youmenu .menuitem a{ font-size:12px; padding:0px 20px; text-align:left; border-bottom:solid 1px #d2d2d2; height:30px; line-height:30px; display:block;}
.youmenu .menuitem a:hover{ background:#42EC00; color:#fff;}
</style>
</body>
</html>
