<div class="header">
  <div class="head_out">
    <div class="head clearfix">
      <h1 class="logo fl"><a target="_blank" href="javascript:;">爱你酷网站</a></h1>
      <ul class="nav fl">
      	<volist name=":get_nav_tree(0,true)" id="vo">
         <li class="nav-item"><a href="{$vo.url}" <eq name="vo.target" value="1"> target="_blank" </eq>>{$vo.title}</a>
         <notempty name="vo.child">
         		<ul>
             <volist name="vo.child" id="voo">
         <li class="nav-item"><a href="{$voo.url}" <eq name="voo.target" value="1"> target="_blank" </eq>>{$voo.title}</a></li>                
             </volist>
             </ul>
         </notempty>
        </li>
        </volist>
      </ul>
    </div>
  </div>
</div>
