<extend name="Public:base" />
<block name="right">

<!--tool start-->
<div class="btn-tool">
<a href="{:U('Module/add',array('modulepos_id'=>I('modulepos_id')))}" class="btn btn-parmary">添加{:getmoduleposTitle(I('modulepos_id'))}模块信息</a>

<div class="searchform">
<form class="form-group-h form-h" action="{:U('')}" method="post">
{:getForm($fieldarr,$data)}
<div class="form-group cl">
<input name="title" type="text" value="{:I('title')}" class="form-control input-middle" placeholder="请输入模块标题" />
</div>

<a class="sch-btn" href="javascript:;" id="search" ><i class="btn-search"></i></a>
</form>
</div>


</div>

<!--tool end-->
<!--content start -->
<div class="content">
<table class="leftalign" width="100%" border="1" bordercolor="#ededed">
        <tr class="th">
		<th width="50" style="text-align:center;">序号</th>
		<th class="center" width="50">排序</th>
		<th>模块信息标题</th>
        <th>所在模块位置</th>
        <th>地址</th>
		<th>状态</th>
		<th width="120" style=" text-align:center;">操作</th>
		</tr>
<volist name="_list" id="vo">
  <tr>
    <td style="text-align:center;">{$key+1}</td>
    <td><input  data-table="Module" data-id="{$vo.module_id}" data-field="sort"  type="text" class="form-control input-mini  ajax-blur" name="sort" value="{$vo.sort}" /></td>
        <td class="popupthumb">{$vo.title}
    
     <notempty name="vo.pic">
   <div class="imgbox" _src="{$vo.pic|getPicture=###,'thumbpath'}" ><span class="wrapimg"></span></div></notempty></td>
    <td>{$vo.postitle}</td>
    <td><a target="_blank" href="{$vo.url}">{$vo.url}</a></td>
    <td>    <span data-table="Module" data-id="{$vo.module_id}" data-field="status"  data-value="{$vo.status}" class="yn"></span></td>
    <td>      <a href="{:U('Module/edit?module_id='.$vo['module_id'])}" class="btn btn-primary">编辑</a>
      <a href="{:U('Module/del?module_id='.$vo['module_id'])}" class="btn btn-danger ajax-list-del">删除</a>
    </td>
  </tr>
</volist>
</table>
<div id="page" class="page">{$_page}</div>
</div>
<script>
	//表格着色
	$('tr:even').css('background','#f7f7f7');
	//分类过滤
	$('select[name="modulepos_id"]').change(function(e) {
        $(this).parents('form').submit();
    });
	$('select[name="modulepos_id"]').val("{:I('modulepos_id',0)}");
</script>
<!--content end-->
</block>