 <div class="cl"></div>
 
 <div id="imgtext" class="imgtext cl">
  <div class="title"><a href="javascript:;">精品说说</a></div>
 <ul class="hnav"></ul>

 <ul class="imgtextlist">
 <article:list position="3" rows="10">
 <li class="imgtextitem bd"><a target="_blank" href="{:U('detail/'.$vo['article_id'])}"><img src="{$vo.pic|get_picture='thumbpath'}" alt="{$vo.title}"  title="{$vo.title}"  /></a><a href="{:U('detail/'.$vo['article_id'])}" target="_blank" class="imgtitle" title="{$vo.title}">{$vo.title}</a></li>
 </article:list>
 </ul>
 </div>
 <script>
$(function(){
jQuery("#imgtext").slide({titCell:'.hnav', mainCell:".imgtextlist",effect:"leftLoop",autoPlay:true,vis:5,autoPage:true,delayTime:500 });	
	});

</script>
