<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>填写订单信息</title>
<ank:insert name="reset,common,index,buy" />
<ank:insert name="jquery-1.9.1.min,ainiku,functions,ajax,jquery.SuperSlide.2.1.1" type="js"  />
</head>

<body>
<div class="cart-header">
<div class="cart-title">确认订单</div>
</div>
<div class="sh-box cl">
    <div class="s-address cl">
        <div class="s-title">收货地址</div>
        <volist name="addresslist" id="vo">
        <dl data-id="{$vo.consignee_address_id}" onclick="buyobj.selectedAddress(this);" id="consignee_address{$vo.consignee_address_id}" class="s-adr cl">
            <dt>{$vo.consignee_name}</dt>
            <dd>
                <div class="s-mobile">{$vo.consignee_mobile}</div>
                <div class="s-diqu">
                {$vo.consignee_diqu|getRegion}<br>
                {$vo.consignee_detail}</div>
            </dd>
            <dd class='action'>
            <a class="delbtn" onclick="buyobj.delAddress({$vo.consignee_address_id})" data-id="{$vo.consignee_address_id}" href="javascript:;">删除</a>
            <a class="modbtn" onclick="buyobj.modAddress({$vo.consignee_address_id})" data-id="{$vo.consignee_address_id}" href="javascript:;">修改</a>
            </dd>
        </dl>
        </volist>

        <dl class="s-adr cl">
            <a id="add-new-address" onclick="buyobj.addNewAddress();" class="add-new-address" href="javascript:;">添加新地址</a>
        </dl>
    </div>
    <div class="s-address">
    <div class="s-title">支付方式</div>
    <div class="order-text">
       在线支付 （支持支付宝、银联、财付通、小米支付等）
    </div>
    </div>

    <div class="s-address">
    <div class="s-title">配送方式</div>
    <div class="order-text">
       快递配送（免运费）
    </div>
    </div>
    
    <div class="s-address">
    <div class="s-title">订单备注</div>
    <div class="order-note">
        <textarea id="order_note" name="order-note"></textarea>
    </div>
    </div>
    <div class="s-address">
    <div class="s-title">订单详情</div>
    <div class="recart"><a href="{:U('Cart/index')}">返回购物车></a></div>
    <ul class="cartlist cl">
    <volist name="goodslist" id="vo">
        <li class="cl">
        <img src="{$vo.pic|getPicture='thumbpath','50_50'}">
        <a href="{:U('Goods/'.$vo['goods_id'])}" target="_blank" class="z-title">{$vo.title}</a>
        <div class="pricecolor z-price">{$vo.price}元 X {$vo.num}</div>
        </li>
    </volist>
    </ul>
    <div class="order-info cl">
        <ul class="order-detail cl">
            <li>
                <div class="label">商品件数:</div>
                <div class="label-con">{$info.totalnum} 件</div>
            </li>
            <li>
                <div class="label">金额合计</div>
                <div class="label-con">{$info.totalprice} 元</div>
            </li>
            <li>
                <div class="label">运费</div>
                <div class="label-con">0元</div>
            </li>

            <li class="yfprice">
                <div class="label">应付金额：</div>
                <div class="label-con"><em id="totalprice">{$info.totalprice} </em> 元</div>
            </li>

        </ul>
    </div>
    </div>
     <div class="cart-bar cl">
    <div id="total_address" class="section-left">
       
    </div>
     <div class="section-right">
     <input id="selected_adress" type="hidden" value="" />
     <a href="javascript:;" onclick="buyobj.submitOrder();" class="a-btn r-btn">提交订单</a>
     </div>
     </div>

</div>
<ank:insert type="js" name="buy" />
<script type="text/javascript">
$(function() {
//传入地址初始化
buyobj.url={
    saveAddressurl:"{:U('Buy/addaddress')}",
    editAddressurl:"{:U('Buy/editaddress')}",
    delAddressurl:"{:U('Buy/deladdress')}",
    submitorder:"{:U('Buy/submitorder')}"
};
});
</script>
</body>
</html>
