<extend name="Public/base" />
<block name="right">
    <form action="{:U()}" method="post" class="form-horizontal">
        
{:getForm($fieldarr,$data)}
        <div class="form-group">
        <a class="btn ajax-post btn-large">确 定</a>
			<a class="btn btn-warning btn-large" href="javascript:history.go(-1);">返 回</a>
            <input name="member_group_id" value="{$data.member_group_id}" type="hidden" />

        </div>
    </form>
    </block>

<block name="script">

</block>
