<!-- 管理员用户组新增和编辑页面 -->
<extend name="Public/base" />
<block name="right">
<style>
#itemblock{}
.tab-pane dl{ width:150px; background:#fff;}
.tab-pane dt{ font-size:14px; font-weight:bolder; color:#000;}
.tab-pane dl dd{ display:block;color:#454545;line-height:30px;  margin:5px 10px;  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}
.tab-pane dl dd label{ color:#000; padding:0px 5px;}
.tab-pane dl dd{text-align:left;}
.tab-wrap{ padding-bottom:50px;}
</style>

<div class="btn-tool">
    <a class="btn btn-primary" href="javascript:$('.authitem').prop('checked', true);">全选</a>
    <a class="btn btn-primary" href="javascript:$('.authitem').prop('checked', false);">全不选</a>
</div>

<form action="{:U('')}" enctype="application/x-www-form-urlencoded" method="POST" class="form-horizontal auth-form">
    <div class="tab-wrap cl">
        <div class="tab-content cl">
            <!-- 访问授权 -->
            <div id="itemblock" class="tab-pane in auth  cl menudiv">
                <volist name="_list" id="vo">
                    <dl class="authblock item" style="display:none;">
                        <dt>
                            <input class="authitem" name="auth[]" type="checkbox" value="{$vo.node_id}" />{$vo.title}</dt>
                        <volist name="vo._" id="voo">
                            <dd>
                                <input class="authitem" name="auth[]" type="checkbox" value="{$voo.node_id}" />
                                <label title="{$voo.name}" class="item-label">{$voo.title}</label>
                            </dd>
                        </volist>
                    </dl>
                </volist>
            </div>
        </div>
        <div class="form-group center">
            <input type="hidden" name="member_group_id" value="{$data.member_group_id}" />
            <button type="submit" class="btn submit-btn btn-large ajax-post" target-form="auth-form">确 定</button>
            <button class="btn btn-return btn-large btn-warning" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </div>
</form>


<script type="text/javascript" charset="utf-8">
$(function() {
	//初始化菜单
	var auth = {$data.auth |default = '[]'};
	for (var i = 0; i < auth.length; i++) {
		//console.log(auth[i]);
		$("input[name='auth[]'][value=" + auth[i] + ']').prop("checked", true);
	}

	$('.tab-pane dl dt input').bind('click', function() {
		if ($(this).is(':checked')) {
			$(this).parent().parent().find('dd input').prop("checked", true);
		} else {
			$(this).parent().parent().find('dd input').prop("checked", false);
		}

	});
	$('dd input.authitem').bind('click', function() {
		if ($(this).is(':checked')) {
			$(this).parent().parent().find('dt input').prop("checked", true);
		}
	});
});
</script>
<script src="__STATIC__/js/jquery-pubuliu.js" type="text/javascript"></script>
<script>
$(function(){
	window.liuconfig={
                            'col':6,//列数
                            'leftmg':10,//元素左右距离
                            'topmg':10,//元素上下距离
                            'items':'.item'//块元素选择器
                            }
	//瀑布流使用方法把窗口选择器添加进去就可以里面元素会自动适应宽度
	$('#itemblock').liuLayout(liuconfig,function(){});
});

</script>
</block>
